body {
    background-color: rgb(233, 234, 236);
       }
#signin{
text-decoration: none;
background-color:rgb(46, 49, 146) ;
color:white;
    }
#shopping{
    text-decoration: none;
    background-color:rgb(46, 49, 146) ;
    color:white; 
          }
 #sell{
    text-decoration: none;
    background-color:rgb(46, 49, 146) ;
    color:white; 
     }
  #help{
    text-decoration: none;
    background-color:rgb(46, 49, 146) ;
    color:white; 
      }
.navbarkabut:hover{
    background-color: pink;
     }
#container {
    width: 97%;
    height: 5400px;
    border: 1px solid transparent;
    margin: auto;
    background-color: white;
    }
/* NAVBAR  */
#dnavbar {
    width: 100%;
    height: 55px;
    border: 1px solid transparent;
    position: static;
    background-color: rgb(46, 49, 146);
    display: flex;
    }
#dnavbar>div {
    border: 1px solid transparent;
    width: 5%;
    height: 100%;
    }
#dnavbar>div:first-child>img {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 25px;
    margin-top: 10px;
    } 
#dnavbar>div:nth-child(2) {
    width: 10%;
    }
#dnavbar>div:nth-child(2)>p {
    font-size: 26px;
    position: relative;
    left: 3px;
    bottom: 13px;
    color: white;
    font-family: arial;
    font-weight: bold;
    }
#dnavbar>div:nth-child(3) {
    width: 37%;
    height: 100%;
    border: 1px solid transparent;
    text-align: center;
    }
#sel {
    font-size: 15px;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 1px;
    margin-top: 10px;
    height: 35px;
    width: 120px;
    border: none;
    }
#inp {
    font-size: 15px;
    font-weight: bold;
    margin-right: 1px;
    margin-top: 10px;
    height: 33px;
    width: 250px;
    border: none;
    }
#but {
    font-size: 15px;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 1px;
    margin-top: 10px;
    margin-left: -5px;
    height: 35px;
    width: 100px;
    border: none;
    text-align: center;
    color: white;
    background-color: rgb(0, 166, 153);
    }
#dnavbar>div:nth-child(4) {
    width: 13%;
    height: 100%;
    border: 1px solid transparent;
    text-align: center;
    }
#GBP {
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 2px;
    height: 35px;
    width: 130px;
    border: none;
    text-align: center;
    color: rgb(46, 49, 146);
    background-color: white;
    }
#dnavbar>div:nth-child(5) {
    width: 5%;
    }
#dnavbar>div:nth-child(6) {
    width: 5%;
    }
#dnavbar>div>img {
    margin-top: 10px;
    margin-left: 27px;
    width: 30%;
    height: 30%;
    border-radius: 9px
    }
.navbarkabut {
    margin-top: 0px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    font-size: 13px;
    margin-left: 1px;
    }
#dnavbar>div:nth-child(7) {
    width: 8%;
    }
#dnavbar>div:nth-child(8) {
    width: 4%;
    } 
#dnavbar>div:nth-child(8)>img {
    margin-left: 9px;
    }
#dnavbar>div:nth-child(9) {
    width: 5%;
    }
#dnavbar>div:nth-child(9)>img {
    margin-left: 9px;
    }
#dnavbar>div:nth-child(10) {
    width: 5%;
    }
#dnavbar>div:nth-child(10)>img {
    margin-left: 21px;
    }
#dnavbar>div:nth-child(11) {
    width: 4%;
    }
#dnavbar>div:nth-child(11)>img {
    margin-left: 13px;
    }
/* NAVBAR TILL */

/* NAVBAR2 */
#nav2>div:first-child {
    width: 65%;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    }
#nav2>div:first-child>img:first-child {
    width: 90px;
    height: 90px;
    }
#nav2>div:first-child>h1 {
    position: relative;
    bottom: 7px;
    left: 10px;
    font-family: arial;
    font-size: 28px;
    } 
#nav2>div:nth-child(2) {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    background-color: #eaeaf4;
    }
#nav2>div:nth-child(2)>div:first-child {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: arial;
    color: white;
    background-color: #2d3192;
    } 
#nav2>div:nth-child(2)>div:nth-child(2) {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: arial;
    background-color: none;
    background-color: #eaeaf4;
    }
#nav2>div:nth-child(2)>div:nth-child(3) {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: arial;
    background-color: #eaeaf4;
    }
#nav2>div:nth-child(2)>div:nth-child(4) {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: arial;
    background-color: #eaeaf4;
    }
#nav2>div:nth-child(3) {
    width: 230px;
    height: 40px;
    border: 1px solid teal;
    position: relative;
    left: 1190px;
    bottom: 95px;
    border-radius: 4px;
    }
#nav2>div:nth-child(3)>img {
    width: 25px;
    height: 15px;
    position: relative;
    top: 17px;
    left: 10px;
    }
#nav2>div:nth-child(3)>p {
    position: relative;
    left: 50px;
    bottom: 22px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: teal;
    }
#nav2>div:nth-child(4) {
    width: 230px;
    height: 40px;
    border:  1px solid rgb(239,239,239);
    position: relative;
    left: 1190px;
    bottom: 85px;
    border-radius: 4px;
    background-color: teal;
    }
#nav2>div:nth-child(4)>img {
    width: 25px;
    height: 15px;
    position: relative;
    top: 16px;
    left: 50px;
    background-color: white;
    }
#nav2>div:nth-child(4)>p {
    position: relative;
    left: 90px;
    bottom: 22px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: white;
    }
/* NAVBAR-3 */

/* 3rd part */
#cosmetic_box {
    width: 99%;
    height: 315px;
    margin: auto;
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 311px;
    gap: 2px;
    border: 1px solid rgb(239, 239, 239);
    }
#cosmetic_box>div {
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px;
    }
#cosmetic_box>div:first-child>img {
    position: relative;
    left: 40px;
    top: 6px;
    height: 230px;
    }
#cosmetic_box>div:first-child>div {
    width: 100%;
    height: 50px;
    position: relative;
    top: 27px;
    background-color: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    }
#cosmetic_box>div:first-child>div>p {
    font-family: arial;
    }
#cosmetic_box>div:nth-child(2)>img {
    position: relative;
    left: 90px;
    top: 6px;
    height: 230px;
    }
#cosmetic_box>div:nth-child(2)>div {
    width: 100%;
    height: 50px;
    position: relative;
    top: 27px;
    background-color: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    }
#cosmetic_box>div:nth-child(2)>div>p {
    font-family: arial;
    }
#cosmetic_box>div:nth-child(3)>img {
    position: relative;
    left: 60px;
    top: 6px;
    height: 230px;
    }
#cosmetic_box>div:nth-child(3)>div {
    width: 100%;
    height: 50px;
    position: relative;
    top: 27px;
    background-color: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
#cosmetic_box>div:nth-child(3)>div>p {
    font-family: arial;
    }
#cosmetic_box>div:nth-child(4)>img {
    position: relative;
    left: 60px;
    top: 6px;
    height: 230px;
    }
#cosmetic_box>div:nth-child(4)>div {
    width: 100%;
    height: 50px;
    position: relative;
    top: 27px;
    background-color: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
#cosmetic_box>div:nth-child(4)>div>p {
    font-family: arial;
    }
#about {
    width: 99%;
    height: 400px;
    margin: auto;
    border: 1px solid transparent;
    background-color: rgb(251, 253, 255);
    }
#heading {
    text-align: center;
    position: relative;
    bottom: 0px;
    font-family: arial;
    font-size: 28px;
    }
#line {
    background-color: 1px solid transparent;
    width: 34px;
    height: 2px;
    position: relative;
    bottom: 0px;
    }
#about_para {
    text-align: center;
    width: 1200px;
    margin: auto;
    font-size: 16.5px;
    position: relative;
    bottom: 0px;
    font-family: arial;
    color: gray;
    } 
#read_more {
    text-align: center;
    position: relative;
    bottom: 0px;
    font-family: arial;
    font-size: 15px;
    color: #12179b;
    }
#div_logo {
    width: 100%;
    height: 90px;
    position: relative;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90px;
    gap: 1px;
    }
#div_logo>div>img {
    width: 65px;
    position: relative;
    top: 14px;
    left: 10px;
    }
#div_logo>div>p {
    position: relative;
    left: 85px;
    bottom: 62px;
    color: gray;
    font-family: arial;
    }
#div_logo>div>span {
    position: relative;
    left: 85px;
    bottom: 73px;
    font-family: arial;
    }
#div_logo2 {
    width: 100%;
    height: 90px;
    position: relative;
    bottom: 0px;
    margin-left: 6px;
    display: grid;
    grid-template-columns: repeat(4, 319px);
    grid-template-rows: 90px;
    gap: 40px;
    }
#div_logo2>div>img {
    width: 65px;
    position: relative;
    top: 14px;
    left: 10px;
    }
#div_logo2>div>p {
    position: relative;
    left: 85px;
    bottom: 63px;
    color: gray;
    font-family: arial;
    }
#div_logo2>div>span {
    position: relative;
    left: 85px;
    bottom: 74px;
    font-family: arial;
    }

/* NANDLAL ABOVE */

#nav2 {
    width: 99%;
    height: 250px;
    border: 1px solid transparent;
    margin: auto;
    }
#aboutus {
    width: 99%;
    height: 450px;
    border: 1px solid transparent;
    margin: auto;
    }
#proandservheading {
    width: 20%;
    height: 70px;
    margin: auto;
    border: 1px solid green;
    }
#proservbox {
    width: 91%;
    display: grid;
    border: 1px solid transparent;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 430px);
    gap: 21px 25px;
    margin: auto;
    }  
#proservbox>div {
    border: 1px solid transparent;
    }
#viewrange {
    border: 1px solid transparent;
    height: 250px;
    width: 80%;
    margin-left: 58px;
    display: flex;
    }
#viewrange>div {
    border: 1px solid transparent;
    width: 13.3%;
    height: 98%;
    margin: auto;
    }
#RandR {
    width: 98%;
    height: 700px;
    border: 1px solid transparent;
    margin: auto;
    }
#gettouch {
    width: 100%;
    height: 52px;
    border: 1px solid transparent;
    margin: auto;
    background-color: rgb(45, 49, 146);
    }
#gettouchdetail {
    width: 98%;
    height: 670px;
    border: 1px solid transparent;
    margin: auto;
    display: flex;
    }
#gettouchdetail>div:nth-child(1) {
    width: 60%;
    height: 600px;
    border: 1px solid transparent;
    margin: auto;
    }
#gettouchdetail>div:nth-child(2) {
    width: 35%;
    height: 600px;
    border: 1px solid transparent;
    margin: auto;
    }
#readytoship {
    border: 1px solid transparent;
    height: 250px;
    width: 70%;
    margin-left: 58px;
    display: flex;
    }
#readytoship>div {
    border: 1px solid transparent;
    width: 13.3%;
    height: 98%;
    margin: auto;
    }
#tellusform {
    width: 60%;
    height: 500px;
    border: 1px solid blue;
    }

/* MY PART  DIBYANSHU SRIVASTAV*/
.relp {
    width: 40%;
    height: 60px;
    border: 1px solid transparent;
    margin-left: 20px;
    }
.relp>h6 {
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 20px;
    }
#relprobox {
    border: 1px solid transparent;
    width: 98%;
    height: 500px;
    margin: auto;
    display: flex;
    }
#relprobox>div {
    border: 1px solid rgb(239, 239, 239);
    width: 23%;
    height: 95%;
    margin: auto;
    text-align: center;
    line-height: 9px;
    font-family: sans-serif;
    }
#relprobox>div>div {
    width: 70%;
    height: 48%;
    border: 1px solid rgb(239, 239, 239);
    margin: auto;
    margin-top: 16px;
    }
#relprobox>div>div>img {
    width: 100%;
    height: 100%; 
    }
#relprobox>div>div+p {
    color: blue;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    }  
.ptwo {
    font-size: 17px;
    }
.pthree {
    color: gray;
    font-size: 14px;
    }
.pfour {
    color: rgb(3, 119, 109);
    font-size: 19px;
    }
.relprbutton {
    color: white;
    background-color: rgb(3, 119, 109);
    border-color: transparent;
    border-width: 10px;
    font-size: 17px;
    border-radius: 5px;
    width: 70%;
    }
.relprbutton:hover ::shadow {
    background-color: rgb(3, 119, 109)
    }
#relatedcat {
    width: 97%;
    display: grid;
    border: 1px solid tra;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 16px 17px;
    margin: auto;
    }
#relatedcat>div {
    border: 1px solid transparent;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 2px;
    }
#relatedcat>div>div:first-child {
    border: 1px solid transparent;
    width: 39%;
    height: 100%;
    }
#relatedcat>div>div:last-child {
    border: 1px solid transparent;
    width: 58%;
    height: 100%;
    margin: auto;
    }
#relatedcat>div>div:first-child>img {
    width: 100%;
    height: 100%;
    }
#relatedcat>div>div:last-child>p {
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 15px;
    margin-top: 50px;
    }

/* DIBYANSHU SRIVASTAV ABOVE*/

hr {
    width: 3%;
    padding: 2px;
    margin-top: -15px;
    background-color: #2D3192;
    border: transparent;
    }
#main {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 380px);
    gap: 20px;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid transparent;
    }
#main>div {
    border: 1px solid rgb(163, 156, 156);
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 20px;
    line-height: 8px;
    }
#main>div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#main>div>img {
    height: 200px;
    width: 50%;
}

#main>div>a {
    color: #068076;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

#main>div>h2>a {
    color: #2D3192;
    text-decoration: none;
}

#main+button {
    
    border: 1px solid green;
    
    background-color: transparent;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    color: green;
    margin-top: 20px;
    margin-left: 560px;
    margin-bottom: 40px;
}
   
 

#main+button:hover {
    cursor: pointer;
    background-color: #068076;
    color: white;
}

div>h2~p {
    color: gray;
}

@media screen and (min-width:651px) and (max-width:1024px) {
    #main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 20px;
        margin-top: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:650px) {
    #main {
        grid-template-columns: auto;
        grid-template-rows: repeat(8, auto);
        gap: 5px;
        margin-top: 10px;
    }
}







.pera {

    width: 100%;
    background-color: rgb(18, 18, 108);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;

}

.pera>p {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;

}


#box {

    margin-top: 30px;
    display: flex;

}

#box>div:nth-child(1) {

    width: 30%;
}

#box>div:nth-child(1)>p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    font-size: 30px;

}

#box>div:nth-child(1)>p {
    margin-left: 20px;
    font-size: 20px;
}


#box>div:nth-child(2) {

    width: 40%;
}

#box>div:nth-child(3) {

    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#box>div:nth-child(2)>p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    font-size: 30px;

}

#ip {
    display: flex;
}

#ip>img {

    width: 30px;
    height: 30px;
}

#ip>p {

    font-size: 20px;
    margin-top: 3px;

}

#box>div:nth-child(2)>p:nth-child(3) {
    margin-left: 32px;
    margin-top: -23px;
    color: grey;

}

#ip2 {
    display: flex;
}

#ip2>img {

    width: 20px;
    height: 20px;
    margin-left: 32px;
    margin-top: -8px;

}

#ip2>p {

    font-size: 15px;
    margin-top: -8px;
    color: rgb(46, 49, 146)
}

#ip3 {
    display: flex;
}

#ip3>img {

    width: 30px;
    height: 30px;


}

#ip3>p {

    font-size: 20px;
    margin-top: 3px;
    color: grey;

}

#ip4 {
    display: flex;
}

#ip4>img {

    width: 30px;
    height: 30px;

}

#ip4>p {

    font-size: 20px;
    margin-top: 3px;
    color: green;
    font-weight: bolder;
}

#button1 {
    padding: 10px 25px;
    margin: auto;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(2, 102, 94);
    border: transparent;

}

#button1>img {
    width: 20px;
}

#button2 {
    padding: 10px 25px;

    border-radius: 5px;
    font-size: 20px;
    border: transparent;
    margin-left: 10px;
    background-color: grey;


}

#button2>img {

    width: 20px;


}

/* process */
#box>div:nth-child(3)>div {

    width: 90%;
    margin: auto;
}

#box>div:nth-child(3)>div>p:nth-child(1) {
    font-size: 20px;

    width: 90%;
    color: rgb(46, 49, 146);

}

input[type="number"] {
    width: 100%;



}

#box>div:nth-child(3)>div>form+p {
    color: grey;
    margin-top: 1px;
    font-size: 13px;
}

legend {
    font-size: 15px;
}

input[type=submit] {
    background-color: rgb(2, 102, 94);
    border: none;
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20%;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    letter-spacing: 1px;
}




/* here is the next part */
#start {

    width: 98%;
    margin: auto;
    display: flex;

    justify-content: space-between;

}

#start>div {

    width: 12%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


}

#start>div>img{
    width: 100%;
    height: 60%;
}

#start>div>img+h3 {
    color: rgb(46, 49, 146);
}

#start>div>img+h3+h3 {
    margin-top: -15px;
}

#start2>h2 {
    text-align: center;
}
#start2>button {
    border: 1px solid green;
    text-align: center;
    background-color: transparent;
    width: 190px;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    color: green;
    
    margin-left: 560px;
    margin-bottom: 40px;
} 

/* NANDLAL BOTTOM */




#Cooler1 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (1);
    background-color: white;

    height: auto;
    width: 1200px;
}

#Cooler1>div {
    border: 1px #efefef solid;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    font-family: arial;
    background-color: white;
}

.top {
    margin-left: 83px;
    font-family: arial;
    background-color: white;
    height: 50px;
    width: 1210px;

}



a {
    color: blue;
    background-color: white;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: white;
}


h3+h4 {
    color: gray;
    margin-top: -10px;
    background-color: white;

}

h3 {
    color: rgb(100, 98, 98);
    background-color: white;
}

.down {
    margin-top: 40px;
}

#Cooler2 {
    height: auto;
    width: 100%;
    background-color: white;

}

#navi {
    background: #eeeeee;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #e6e6e6;
    display: flex;
    height: auto;
    box-sizing: border-box;
    height: auto;
}

.folow>img {
    height: 30px;
    margin-top: 10px;
    background-color: #eeeeee;
}

.folow {
    display: flex;
    font-family: arial;
    font-weight: 400;
    margin-bottom: 10px;
    background: #eeeeee;

}

.folow>h3 {
    font-weight: 400;
    font-family: arial;
    background: #eeeeee;

}

.mobile {
    display: flex;
    margin-left: 500px;
    margin-bottom: 10px;
    background: #eeeeee;


}

.mobile>h3 {
    font-weight: 400;
    font-family: arial;
    background: #eeeeee;
}

.mobile>img {
    height: 30px;
    margin-top: 10px;

    background: #eeeeee;

}

#navi>h3 {
    margin-left: 200px;
    color: blue;
    background: #eeeeee;
    font-weight: 400;

}

#Everthing {
    height: auto;
    width: 1300px;

    background-color: white;
    margin: auto;

}

.need {
    height: auto;
    background-color: white;

    margin: auto;
    display: flex;

    width: 65%;


}

.need>div {
    background-color: white;
}

.mid {
    font-size: 17px;
    color: #000;
    padding: 0 0 4px;
    font-weight: 400;
    margin-left: 40px;
    margin-bottom: -15px;
    margin-top: 14px
}

li {
    text-align: left;
    background-color: white;
    color: gray;
    list-style: none;
}

ul {
    background-color: white;
}

@media all and (min-width:768px) and (max-width:1024px) {
    #Cooler1 {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        background-color: white;

        height: auto;
        width: 1200px;
    }

    #Cooler2 {
        width: 100%;
    }

    #navi {
        height: 140px;
    }

    #Everything {
        width: 1200px;
    }

    #need {
        width: 100%;
    }

    .top {

        margin-left: 0;
    }
} 
    #h{
        font-size: 21px;
        font-weight: bold;
        font-family: sans-serif;
        text-align: center;
        

    }


    /* VIVEK BELOW */


    #boxv{
        width: 95%;
        border: 1px solid transparent;
        height: 300px;
        display: flex;
        margin: auto;
    }

    #boxv {
       
        display: grid;
        grid-template-columns: repeat(7, 11%);
        grid-template-rows: repeat(1,250px);
        gap: 1%;
        padding-bottom: 60px;
    }

    #boxv>div {
        border: 1px solid #DADADA;
        background-color: #F6F6F6;
        border-radius: 5px;
        padding: 0px 10px;
    }

    #boxv>div>img {
        width: 100%;
        height: 35%;
        border-radius: 5px 5px 0px 0px;
    }

    #boxv>div>a {
        font-size: 14px;
        color: #2e3192;
        text-decoration: none;
    }

    #boxv>div>a+p {
        font-weight: bold;
        font-size: 15x;
        margin-top: -1px;
    }

    #boxv>div>button {
        background-color: #00A699;
        border: 1px solid #DADADA;
        color: white;
        padding: 7px 22px;
        font-size: 12px;
        border-radius: 14px;
        border: transparent;
    }

    #boxv>div>button+p {
        font-size: 13px;
        margin-bottom: -1px;
    }




    #box-2 {
        display: block;
        border: 1px solid #2E3192;
        width: 43%;
        padding: 24px;
        margin-left: 20%;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.39) 0px 0px 5px 5px;
        margin-bottom: 30px;
    }

    #box-2>div {
        color: #2E31AA;
        font-size: 21px;
        font-weight: bold;
    }

    #box-2>form>input,
    #box-2>form>div>div {
        display: flex;
        margin-left: 8%;
        padding: 12px;
        border-radius: 6px;
        border: transparent;
        border: 1px solid rgb(173, 171, 171);
    }

    #box-2>form>div {
        display: flex;
        margin-top: 30px;
    }

    #box-2>form>div>input {
        padding: 8px;
    }

    #box-2>form>div>button {
        padding: 12px;
        color: white;
        font-weight: bold;
        background-color: #00A699;
        border: transparent;
        border-radius: 5px;
        margin-left: 66%;
    }

    form>div>input:nth-child(2) {
        width: 65%;
        margin-left: 7%;

    }

    #qty {
        width: 21%;
        margin-left: 18%;

    }

    #typ {
        width: 21%;
    }

    #name {
        width: 45%;
        margin-left: 22%;
    }

    #des {
        width: 130%;
    }

    #mobile {
        width: 38%;
    }

    @media screen and (min-width:625px) and (max-width:1024px) {
        #boxv {
            grid-template-columns: repeat(3, 30%);
            grid-template-rows: repeat(3, 30%);
        }
    }

    @media screen and (min-width:320px) and (max-width:650px) {
        #boxv {
            grid-template-columns: repeat(2, 40%);
            grid-template-rows: repeat(4, 25%);

        }

        #box-2>form>div>button {
            margin-left: 50%;
        }
    }

    #leaveamesg{
      
        margin-right: 5px;
        border-radius: 3px;
        border: rgb(234,234,234);
    }